
{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl"> Flood risk summary for: <span class="postcode">BL9 1XX</span> </h1>

      <div class="govuk-inset-text high">
        <h2>High</h2>
        <p>This area is at high risk of flooding from surface water (flash flooding).<p>
          </div>
          <details class="govuk-details" data-module="govuk-details">
  <summary class="govuk-details__summary">
    <span class="govuk-details__summary-text">
      What this means
    </span>
  </summary>
  <div class="govuk-details__text">
    This means there is a greater than 3.3% chance of flash flooding in this area.
</details>


      <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

      <div class="govuk-inset-text medium">
        <h2>Medium</h2>
        <p>This area is at medium risk of flooding from rivers and the sea.</p>
          </div>
        <details class="govuk-details" data-module="govuk-details">
<summary class="govuk-details__summary">
  <span class="govuk-details__summary-text">
    What this means
  </span>
</summary>
<div class="govuk-details__text">
  This means there is a 1% to 3.3% of flooding from rivers or the sea in this area.
</details>


      <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

      <div class="govuk-inset-text low">
        <h2>Reservoirs and groundwater</h2><p>This area is unlikely to flood from a reservoir or groundwater.</p>
      </div>

    



    </div>
  </div>

{% endblock %}
