
{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      
      <h1 class="govuk-heading-xl"> Flood risk summary for: <span class="postcode">BL9 1XX</span> </h1>

      <div class="govuk-inset-text high">
        <b>Flash Flooding (Surface Water): <span class="red">High </span></b> <br>This area has a greater than 3.3% chance
        of flash flooding (surface water) each year
      </div>

      <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

      <div class="govuk-inset-text medium">
        <b>Rivers and the Sea: <span class="yellow">Medium </span></b><br>This area has between 1% and 3.3% chance of
        flooding from rivers or the sea each year
      </div>

      <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

      <div class="govuk-inset-text low">
        <b>Reservoirs:</b><br>This area is unlikely to flood from a reservoir
      </div>

      <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

      <div class="govuk-inset-text low">
        <b>Groundwater:</b><br>This area is unlikely to flood from groundwater
      </div>

    </div>
  </div>

{% endblock %}
