
{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">
        Defra introduction to Git
        <span class="govuk-caption-xl"> Basic Git and Github training</span>
      </h1>

      <h2 class="govuk-heading-m">On the course:</h2>
      <p>Add names of attendees to the list below.</p>
  
      <ul class="govuk-list govuk-list--bullet">
        <li>Cathy Dutton</li>
        <li>Ruth -</li>
        <li>Tania MacDonnell</li>
        <li>Caroline -</li>
        <li>Mathew Banks</li>
        <li>Helen J Salter</li>
      </ul>

      <a href="/long-term-flood-risk" role="button"
        class="govuk-button govuk-button--start govuk-!-margin-top-2 govuk-!-margin-bottom-8">Continue</a>
    </div>
</div>

{% endblock %}


