
{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">
        Defra introduction to Git 
        <span class="govuk-caption-xl"> Basic Git and Github training</span>
      </h1>

      <h2 class="govuk-heading-m">On the course:</h2>
      <p>Add names of attendees to the list below.</p>
  

      <ul class="govuk-list govuk-list--bullet">
        <li>Cathy Dutton</li>
      </ul>
    </div>
</div>

{% endblock %}
