
{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      
       <h1>How we describe risk</h1>

        <p><h2>This is how we describe the risk for flash flooding (surface water), rivers and the sea</h2></p>
        <table class="govuk-table">
          <thead class="govuk-table__head">
              <tr class="govuk-table__row">
                <h1>
                  <th class="govuk-table__header" scope="col">Risk Level</th>
                </h1>
                <th class="govuk-table__header" scope="col">Chance each year </th>
              </tr>
          </thead>
          <tbody class="govuk-table__body">
            <tr class="govuk-table__row">
              <th class="govuk-table__header" scope="row">High</th>
              <td class="govuk-table__cell">Greater than 3.3% </td>
            </tr>
            <tr class="govuk-table__row">
              <th class="govuk-table__header" scope="row">Medium</th>
              <td class="govuk-table__cell">Between 1% and 3.3%</td>
            </tr>
            <tr class="govuk-table__row">
              <th class="govuk-table__header" scope="row">Low</th>
              <td class="govuk-table__cell">Between 0.1% and 1%</td>
            </tr>
            <tr class="govuk-table__row">
              <th class="govuk-table__header" scope="row">Very Low</th>
              <td class="govuk-table__cell"> Less than 0.1% </td>
            </tr>
          </tbody>
        </table>


      <p>We will just tell you if there is a risk for groundwater and reservoirs.</p>

      <h3>In England and Wales </h3>

      <p>For groundwater and reservoirs, we will just tell you if there is a risk.</p>

        <h2>In England and Wales</h2>


        <ul class="govuk-list govuk-list--bullet">
          <li>5.9 million properties are at risk of flooding - 1 in 6 homes </li>
          <li>£28,000 - the average cost of a home flooding</li>
        </ul>

        <p>Anybody can be affected by flooding - even if you live in a top floor flat.</p>

    
      <h3>  Read about the impacts of flooding </h3>

            <p>You can still sufer from flooding, even if you live:</p>
            <ul class="govuk-list govuk-list--bullet">
              <li>on a hill</li>
              <li>far from a body of water like a river or stream</li>
            </ul>

         

            <span>It can impact your:</span>

            <ul class="govuk-list govuk-list--bullet">
              <li>health - through disease or impact on mental health </li>
              <li>access to clean water and food supplies </li>
              <li>gas, electricity and drainage </li>
              <li>doctor’s surgery or hospital </li>
              <li>transport - cars, buses and trains </li>
              <li>school, place of work, community centre or place of worship</li>
            </ul>
          </div>
        </details>

        <a href="/flood-risk-summary" role="button" class="govuk-button govuk-button--start govuk-!-margin-top-2 govuk-!-margin-bottom-8">Continue</a>
    
    </div>
  </div>

{% endblock %}
