
{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      
       <h1 class="govuk-heading-xl">How we describe risk</h1>

        <p>This is how we describe the risk for flash flooding (surface water), rivers and the sea</p>
        <table class="govuk-table">
          <thead class="govuk-table__head">
              <tr class="govuk-table__row">
                <h1>
                  <th class="govuk-table__header" scope="col">Risk Level</th>
                </h1>
                <th class="govuk-table__header" scope="col">Chance each year (%) </th>
              </tr>
          </thead>
          <tbody class="govuk-table__body">
            <tr class="govuk-table__row">
              <th class="govuk-table__header" scope="row">High</th>
              <td class="govuk-table__cell">Greater than 3.3</td>
            </tr>
            <tr class="govuk-table__row">
              <th class="govuk-table__header" scope="row">Medium</th>
              <td class="govuk-table__cell">Between 1 and 3.3<td>
            </tr>
            <tr class="govuk-table__row">
              <th class="govuk-table__header" scope="row">Low</th>
              <td class="govuk-table__cell">Between 0.1 and 1</td>
            </tr>
            <tr class="govuk-table__row">
              <th class="govuk-table__header" scope="row">Very Low</th>
              <td class="govuk-table__cell"> Less than 0.1 </td>
            </tr>
          </tbody>
        </table>

      <p>For groundwater and reservoirs, we'll tell you if there is a risk.</p>


        <h2 class="govuk-heading-l">Flood risk in England and Wales</h2>
      <p>Flooding:
      </p>
        <ul class="govuk-list govuk-list--bullet">
          <li>affects 5.9 million properties, equivalent to 1 in 6 homes </li>
          <li>costs the average home £28,000</li>
        </ul>


        <p>You can be affected by flooding, even if you live in a top floor flat.</p>

        <h2 class="govuk-heading-l">Impacts of flooding</h2>
          
            <p>You can still be affected by flooding if you live:</p>
            <ul class="govuk-list govuk-list--bullet">
              <li>on a hill</li>
              <li>far from a body of water, such as a river or stream</li>
            </ul>
            <p>It can impact your:</p>


            <ul class="govuk-list govuk-list--bullet">
              <li>health - through disease or impact on mental health </li>
              <li>access to clean water and food supplies </li>
              <li>gas, electricity and drainage </li>
              <li>doctor’s surgery or hospital </li>
              <li>transport - cars, buses and trains </li>
              <li>school, place of work, community centre or place of worship</li>
            </ul>
          
        

{% endblock %}
